.DS_Store
.project
.settings/
docker/.DS_Store
gremlin-algorithm/.classpath
gremlin-algorithm/.project
gremlin-algorithm/.settings/
gremlin-console/.classpath
gremlin-console/.project
gremlin-console/.settings/
gremlin-driver/.classpath
gremlin-driver/.project
gremlin-driver/.settings/
gremlin-groovy-test/.classpath
gremlin-groovy-test/.project
gremlin-groovy-test/.settings/
gremlin-groovy/.settings/
sparksee-server-tools/.classpath
sparksee-server-tools/.project
sparksee-server-tools/.settings/
sparksee-server-tools/target/
/.classpath
